body{
    background-color: #363533;
    padding: 60px;
    height: 100%;
}

h1,h2,h3{
    font-family: 'Fredoka One', cursive;
}

input{
    width:100%;
    font-size: 1.2rem;
    color: grey;
}

.card{
    align-content:center;
    border: 1px solid grey;
    border-radius: 6px;
    margin: 0 10px 0px 0;
    overflow:hidden;
}

.card-grid{
    display:grid;
    grid-template-columns: repeat(1fr);
    gap: 2rem;
}

@media (min-width: 480px){
    .card-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 768px){
    .card-grid{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1024px){
    .card-grid{
        grid-template-columns: repeat(5, 1fr);
    }
}

.card p{
    padding: 5px;
    text-align: center;
}

.card img{
    object-fit: cover;
    min-height: 10rem;
    max-height: 10rem;
}

/* Spinner Kit Cuadrados */

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    display: block;
    margin: 0 auto;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
} 
